[flake8]
application-import-names = effectivepy,tests
max-line-length = 121
select = ANN,B,B9,BLK,C,E,F,I,S,W
max-complexity = 10
ignore = E203, S403, S301

# From https://cjolowicz.github.io/posts/hypermodern-python-03-linting/
# Bandit flags uses of assert to enforce interface constraints because assertions are removed when compiling to
# optimized byte code. You should disable this warning for your test suite, as Pytest uses assertions to verify
# expectations in tests
per-file-ignores =
    tests/*:S101,ANN
    noxfile.py:ANN